<!-- Default home page -->
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/addclients.js"></script>
<script src="/js/dynatable.js"></script>
<script src="/js/manageclients.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/styles/dynatable.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/style.css">
<!--STYLES END-->
<pre id="json-records" class="hidden">
<% var records= JSON.stringify(concerts) %>
<%= records %>
</pre>
<div class="container">
	<div class="row">
	<div class="col-sm-6">
<h1>New York</h1>
<ul>
	<% _.each(concerts.newyork, function(concert){ %>
	<li><%= concert.performance %></li>
	<% }) %>
</ul>
</div>
	<div class="col-sm-6">
		<h1>Nashville</h1>
		<ul>
		<% _.each(concerts.nashville, function(concert){ %>
		<li><%= concert.performance %></li>
		<% }) %>
	</ul>
</div>
</div>
	<div class="row">
	<div class="col-sm-6">
<h1>Los Angeles</h1>
<ul>
	<% _.each(concerts.losAngeles, function(concert){ %>
	<li><%= concert.performance %></li>
	<% }) %>
</ul>
</div>
	<div class="col-sm-6">
		<h1>Arizona</h1>
		<ul>
		<% _.each(concerts.arizona, function(concert){ %>
		<li><%= concert.performance %></li>
		<% }) %>
	</ul>
</div>
</div>
</div> <!-- container -->
